{name, "riak_zab"}.
{authors, ["Joseph Blomstedt <joseph.blomstedt@gmail.com>"]}.
{description, "Pure Erlang implementation of Zab, the Zookeeper Atomic Broadcast protocol"}.
{homepage, "https://github.com/jtuple/riak_zab"}.
{rebar_compatible, true}.
{license, "Apache License version 2.0"}.
{url, {git, "https://github.com/spawngrid/riak_zab.git", {branch, "fix-r14b02"}}}.
{applications, [riak_zab]}.
